/*
================
     RESET
================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
================
     COLORS
================
*/

:root {
  --border-gray: #f4f5f7;
  --gray-line: #d9d9d9;
}

.bg-red {
  background-color: #f72210;
}

.bg-yellow {
  background-color: #ffe400;
}

.cat-box-color {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-culture-box {
  background-color: #c2d4d7;
}

.bg-sign-up {
    background-color: #f4f5f6;
}

.text-red {
  color: #f72210;
}

/*
================
     HEADER
================
*/

.main-logo {
  width: 110px;
  height: 40px;
}

.sub-button {
  font-size: 10px;
}

/*
=======================================
     TOP STORY + FEATURED STORIES
=======================================
*/

.cat-box {
  width: 90px;
}

.tech-box {
  width: 150px;
}

.culture-box {
  width: 75px;
}

article p {
  font-size: smaller;
}

.featured-stories figcaption a:hover,
.debate-opinion h6 > a:hover,
.in-the-magazine h6 > a:hover,
.editors-pick figcaption a:hover,
.cats figcaption a:hover {
  border-bottom: 1px solid red;
}

/*
=======================================
        THE DEBATE + OPINION
=======================================
*/

.debate-opinion,
.debate-opinion a,
.my-turn h6,
.culture h6 {
  font-size: smaller;
}

.debate-opinion img {
  width: 60px;
}

.vs {
  left: 46%;
  top: 46%;
  z-index: 1;
}

/*
===================
      SIGN UP
===================
*/

.sign-up {
  width: 300px;
}

/*
===================
    CATEGORIES
===================
*/

.cats-small img {
  width: 90px;
  max-height: 90px;
}

/*
===================
    NEWSLETTER
===================
*/

.newsletter-img {
  height: 223px;
}

/*
===================
      FOOTER
===================
*/

.footer-logo {
  width: 250px;
}

.social-icons {
  font-size: 22px;
}

footer ul {
  line-height: 1.9rem;
}

/*
=======================
     BORDERS (CSS)
=======================
*/

.debate,
.featured-stories,
.more-stories,
.in-the-magazine,
.subscribe,
.newsletter {
  border-top: 20px solid var(--border-gray);
}

.debate,
.opinion,
.more-stories,
.in-the-magazine,
.bottom-cat,
.newsletter {
  border-bottom: 20px solid var(--border-gray);
}

.bottom-debate,
.more-stories-top {
  border-top: solid 1px var(--gray-line);
}

.top-debate,
.opinion article,
.top-story,
.more-stories article,
.editors-title,
.editors-pick {
  border-bottom: solid 1px var(--gray-line);
}

.top-debate {
  border-top: solid 4px var(--gray-line);
}

.bottom-debate {
  border-bottom: solid 4px var(--gray-line);
}

/*
==============================
        MEDIA QUERIES
==============================
*/

@media (min-width: 768px) {
  .cats-small figcaption > a,
  .my-turn figcaption > a,
  .culture figcaption > a {
    font-size: 12px;
  }

  footer li > a {
  border-right: solid 1px var(--gray-line);  
  }
}

@media (min-width: 992px) {
  .vs {
    left: 47%;
    top: 44%;
  }
}
